.App {
  background-image: url("https://image.freepik.com/photos-gratuite/ampoule-idee-laine-jaune-fond-bleu-texte-idee-pense-bete_23-2147873537.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
}
